@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* universal styles */

:root {
    --gradient: linear-gradient(30deg,
    #005C7B,
    #00355C,
    #002049,
    #301944,
    #4A1541
    );

    --font-color: #ddd;
}

body {
    min-height: 100vh;
    background-image: var(--gradient);
    background-size: 300%;
    color: var(--font-color);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;

    animation: bg-animation 30s infinite alternate;
}

section {
    height: 90vh;
    background-color: black;
}

@keyframes bg-animation {
    0% {
        background-position: right;
    };

    100% {
        background-position: left;
    }

}

/* specific-styles */


.siteWrapper header {
    display: flex;
    padding: 1rem 3rem;
    /* border: 2px green dotted; */
}

/* .siteWrapper header > * {
    border: 4px blue dotted;
} */


/* header-left-side */

#navigation-section {
    position: sticky;
    top: 0;
    background-color: transparent;
    transition: background-color ease-in-out 0.3s;
    z-index: 100;
}

.header-left-wrap {
    width:67%;
    display: inline-flex;
    align-items: center;
}

.header-left-wrap-left {
    width: 33%;
    font-family: "Anton";
}

.header-left-wrap-left h1 {
    animation: fadeIn 1s;
    animation-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.header-left-wrap-middle {
    flex: 1 1 33%;
}

.header-left-wrap-middle nav ul {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.header-left-wrap-middle nav ul li {
    list-style: none;
}

.header-left-wrap-middle nav ul li  a {
    text-decoration: none;
    color: var(--font-color)
}

/* header-right-side */
.header-right-wrap {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}


.header-right-wrap-actions {
    display: flex;
    gap: 3rem;
}

.header-right-wrap-actions > * {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
}


.header-right-wrap-action-login a {
    text-decoration: none;
    color: var(--font-color)
}

.header-right-wrap-action-cart {
    display: inline-flex;
}

.header-right-wrap-action-media {
    display: inline-flex;
    gap: 1rem;
}

/* introduction-section */
.introduction-section {
    height: 90vh;
    background-color: transparent;
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
    padding-bottom: 2rem;
    padding: 0 3rem 2rem 2rem;
}

.introduction-text {
    font-size: clamp(1.5rem, 5vw, 5ch);;
    font-family:"Anton";
    width: 40%;

}

.introduction-btn  button {
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 1.5rem;

    outline: none;
    border: 1.5px solid white;
    color: var(--font-color);
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.introduction-btn  button:hover {
    background-color: black;
    border-color: black;
    color: var(--font-color);
}
/* contact-us toast */

.contact-us-toast-btn {

    position: fixed;
    display: block;
    width: max-content;
    height: auto;
    padding: 1.4rem 4rem;

    background-color: black;
    bottom: 30px;
    right: 10px;

    animation: floatLeft 1s;
    animation-delay: 0.3s;

    transition: background-color 0.3s ease-in-out;
}

@keyframes floatLeft {
    from {
        transform: translateX(150%);
    }

    to {
        transform: translateY(0);
    }
}

.cancel-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: small;
}

#cancel-btn {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--font-color);
    cursor: pointer;
}


@media only screen and (max-width: 760px) {
    .header-right-wrap-actions {
        display: none;
    }

    .header-left-wrap-left {
        flex: 1;
        width: auto;
    }
}


/* service-section */

.service-section {
    position: relative;
    padding: 5rem 6rem;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-section-wrapper {
    display: flex;
    justify-content: center;
}

.service-section-wrapper-h2 {
    font-size: clamp(1.5rem, 2vw, 5ch);
    font-family: "Anton";
}

@media only screen and (min-width: 1024px) {
    .service-section-wrapper-h2 {
        font-size: 5ch;
    }
}

.service-section-wrapper > * {
}

.service-section-wrapper-p {
    max-width: 400px;
    text-align: center;
}

.service-section-wrapper-photos {
    position: relative;
}

.service-section-wrapper-photos > * {
    width: clamp(100px,30vw,400px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-wrapper-photo-1 {
    position: relative;
    z-index: 1;
    top: 10vh;
}

.service-wrapper-photo-2 {
    position: relative;
    z-index: 2;
    right: 20vw;
    bottom: 30vh;
}

.service-section-wrapper-photos img {
    display: block;
    width: 100%;
    height: auto;
}

.service-section-wrapper-photo-h2 {
    position: relative;
    left: 20vw;
    bottom: 50vh;
    width: clamp(100px,50vw,400px);
}

.service-section-wrapper-photo-h2 {
    font-size: 2rem;
    font-family: "Anton";
}

/* amenities wrapper */
.amenities-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amenities-wrapper-info {
    text-align: center;
}

.amenities-wrapper-info h3 {
    font-family: "Anton";
    font-size: 3rem;
}

.amenities-wrapper-info p {
    max-width: 50ch;
    font-size: 1rem;
    line-height: 1.5;
}



.amenities-wrapper-info-lists {
    display: flex;
    text-align: center;
    padding: 2rem;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

.amenities-info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
}

/* contact-us form */

.schedule-area {
    /* border: solid red 2px; */
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.schedule-area h3 {
    font-size: clamp(1rem,5vw,3rem);
    font-family: "Anton";
    text-transform: uppercase;
}

.schedule-area p {
    width: 40%;
    line-height: 1.5rem;
}

@media only screen and (max-width: 1024px){
    .schedule-area p {
        width: 50vw;
    }

    .contact-us-section {
        gap: 2rem;
        flex-wrap: wrap;
    }
}

.contact-us-section {
    display: flex;
    height:auto;
    background-color: white;
    color: black;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2rem;
}

.contact-us-section .schedule-area {
    max-width: 50%;
}

.contact-us-form {
    /* border: 2px solid green; */
    width: 80%;
}

.contact-us-form  span {
    color: grey;
    font-size: 14px;
}

.contact-us-form .contact-name-title {
    font-weight: normal;
    font-size: 1.2rem;

}

.contact-us-form label{
    font-weight: lighter;
    font-size: 1rem;
}

.contact-us-form form {
    width: 100%;
    display: inline-flex;
    /* border: 2px solid limegreen; */
    flex-direction: column;
    gap: 1rem;
}

.name-container {
    justify-self: center;
    /* border: 2px solid rebeccapurple; */
}

.name-container-card {
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

.name-container-card > * {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
}


.contact-us-section input {
    padding: 1rem 2rem;
    width: minmax(auto, 400px);
    border: solid 1px #A9A9A9;
    outline: none;
}

.contact-us-section input:user-valid {
    border: solid 1.5px green;
}

.contact-us-section input:user-invalid {
    border: solid 1.5px red;
}


.contact-us-section input:focus {
    box-shadow: 0px 0px 0px 1px black;
}

.email-container{
    display: flex;
    flex-direction: column;
}
 
.date-container {
    display: flex;
    flex-direction: column;
}

.date-container input {
    max-width: fit-content;
}

#contact-submit-btn {
    width: fit-content;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 1.5px solid black;
}


/* quote section */
.quote-section {
    background-color: transparent;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;
}

.quote-section p {
    font-family: "Anton";
    font-size: 1.8rem;
    text-align: center;
    width: 90vw;
}

@media only screen and (min-width: 1024px){
    .quote-section p {
        width: 50ch;
        font-size: 3rem;
    }
}


.quote-section p span {
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
}

footer {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.4rem 2rem;
    gap: 0.8rem;
}

.stay-updated-section {
    display: inline-flex;
    align-items: center;
}

.stay-updated-info-area {
    flex: 1;
}

.stay-updated-info-area h3 {
    font-family: "Anton";
    font-size: 3rem;
}

.stay-updated-info-area p {
    font-weight: lighter;
    font-size: 1rem;
}

.stay-updated-email-area input[type="email"] {
    padding: 20px;
    width: 20vw;
}

.stay-updated-email-area input[type="submit"] {
    margin-left: 5px;
    padding: 1rem 1.2rem;
    border-radius: 1.5rem;
    background-color: transparent;
    border: 2px white solid;
    color: white;
}

@media only screen and (max-width: 760px) {
    .stay-updated-section {
        flex-wrap: wrap;
    }

    #contact-us-toast-btn {
        display: none;
    }
}

.footer-divider {
    border: white 0.5px solid;
    width: 100%;
}

.footer-section {
    display: inline-flex;

}

.footer-area-first {
    flex: 1;
    display: flex;
    max-width: 50vw;
    gap: 5vw;
}

.footer-area-first > * {
    font-family: "Anton";
    font-size: 3rem;
}

@media only screen and (max-width: 800px) {
     .footer-area-first > * {
        font-size: 5vw;
    }

    .logo-card {
        font-size: 5vw;
    }
}

.contact-us-card p{
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: lighter;
}

.logo-card {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 4vw;
    font-family: "Anton";
}

.support-us-card p  a {
    font-family: Helvetica, sans-serif;
    display: block;
    color: white;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-bottom: 5px;
}